{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Bukmacherka PV Poland</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bet.css' %}">
</head>
    <body>
        <div class="page-header">
            <h1><a href="/">Bukmacherka PV Poland</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout_user' %}">
                <button type="button" class="btn btn-info" name="login-button" style="float: right;">Logout</button>
                </a>
                <h4>Zalogowano jako: {{ user.username }}</h4>
                <div class="score">Twój wynik to: {{ person.points }}</div>
            {% else %}
                <a href="{% url 'login_user' %}">
                    <button type="button" class="btn btn-info" name="login-button" style="float: right;">Login</button>
                </a>
            </h1>
            {% endif %}
        </div>
        <div class="container-xl">
            {% if messages %}
                {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                    {{ message }}
            </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>